<h3>{{msg['yplanner.admin.users.add.user']}}</h3>
<form name="addUserForm" ng-submit="addUserForm.$valid && saveUser()" class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
			<label for="userLogin">{{msg['yplanner.admin.users.login']}}</label>
			<div class="input-group">
				<input id="userLogin" type="text" ng-model="user.login" name="userlogin"
					class="form-control" required userlogin />
				<span ng-class="{'yplanner-invalid': addUserForm.userlogin.$error.userlogin, 'yplanner-valid': !addUserForm.userlogin.$error.userlogin}" class="input-group-addon">{{checkLoginMsg}}</span>
			</div>
		</div>
		<div class="col-xs-6">
			<label for="userPassword">{{msg['yplanner.admin.users.password']}}</label>
			<div class="input-group">
				<input id="userPassword" type="text" ng-model="user.password" class="form-control" required minlength="10" />
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="getPassword()">{{msg['yplanner.admin.users.password.generate']}}</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label for="userFirstName">{{msg['yplanner.admin.users.first.name']}}</label>
			<input id="userFirstName" type="text" ng-model="user.firstName"
				class="form-control" required />
		</div>
		<div class="col-xs-6">
			<label for="userLastName">{{msg['yplanner.admin.users.last.name']}}</label>
			<input id="userLastName" type="text" ng-model="user.lastName" class="form-control" required />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label for="userEmail">{{msg['yplanner.admin.users.email']}}</label>
			<input id="userEmail" type="email" ng-model="user.email"
				class="form-control" required />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<button type="submit" class="btn btn-primary">{{msg['yplanner.form.save']}}</button>
		</div>
	</div>
</form>