<h3>{{msg['yplanner.admin.users.title']}}</h3>
<div>
	<a class="btn btn-default" href="#/admin/user/add">{{msg['yplanner.admin.users.add.user']}}</a>
</div>
<div style="width: 100%; height: 650px; overflow-y: auto">
	<pagination total-items="totalItems" ng-model="currentPage" ng-change="changePage()"></pagination>
	<table class="table table-stripped">
		<thead>
			<tr>
				<td>{{msg['yplanner.admin.users.login']}}</td>
				<td>{{msg['yplanner.admin.users.first.name']}}</td>
				<td>{{msg['yplanner.admin.users.last.name']}}</td>
				<td>{{msg['yplanner.admin.users.email']}}</td>
				<td>{{msg['yplanner.admin.users.admin']}}</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.login}}</td>
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.email}}</td>
				<td><input type="checkbox" ng-checked="user.admin"
					disabled="true" /></td>
			</tr>
		</tbody>
	</table>
	<p>{{msgFormat('yplanner.paging.users.msg', [totalItems])}}</p>
</div>